<%- include('header'); -%>

<section class="s1">
    <div class="achtergrondafb">
        <h1>Chinese <br> Art <br> museum</h1>
        <p>Welcome to the Chinese art museum mobile application. Get to see amazing artwork by famous but also unknown chinese artist throughout our lifetime. Get a feeling how the chinese people lived during the past centuries and find your favourite Chinese artist here.</p>
        <img class="museumIcon" src="/Icons/museum.svg" alt="">
        <div class="graphic1"></div>
        <div class="graphic2"></div>
    </div>
</section>
<section class="s2">
    <div class="inlichting">
        <h2>Featured</h2>
        <img src="<%= post[0].image%>" alt="">
        <div><a href="/gallery">Go to gallery</a></div>
        
    </div>
</section>
<a class="link" href="">www.azezadaz.be</a>
<%- include('footer'); -%>